body {
  background-color: white;
}

h1, h2, h3, h4, h5 {
  font-family: "ofelia-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}
h1 {
  text-align: center;
  font-size: 3.3em;
  margin-top: 1em;
  line-height: 1em
}
h2 {
  color: rgb(181, 0, 2);
  font-size: 2em;
  line-height: 1em;
}
h3 {
  text-align: center;
  font-size: 1.9em;
  line-height: 2em;
}
h4 {
  color: rgb(181, 0, 2);
  text-align: center;
  font-size: 1.25em;
  line-height: 1em;
}
h5 {
  font-size: 1em;
  color: red;
  margin-top: 14px;
  line-height: 1em;
}
h6 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 1.2em;
}
h6 {
  font-weight: 600;
  font-size: 0.9em;
}
p, li {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.4em;
  color: black;
}
.imgfloat {
  float: right;
  margin-left: 12px;
}
.imgsize {
  width: 4000px;
  height: 2484px;
  margin-top: 50px;
}
.imgsizs {
  width: 78px;
  margin-top: 30px;
}
.center {
  text-align: center;
  font-size: 1.4em;
}
.imgmargin {
  margin-top: 200px;    
}
.imgmargin2 {
  margin-top: 100px;    
}
figcaption {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.3em;
  margin-top: 10px;
}

ul.source a:link, ul.source a:visited {
    color: black;
    text-decoration: none;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.4em;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

ul.source a:hover {	
    text-decoration: underline;
    color: brown;
	}
/*<!--////////// NAV STYLES //////////////-->*/
nav ul {
    list-style-type: none; /* remove bullets */
    margin: 0;
    padding: 14px;
    text-align: center;
}

nav li {
    display: inline; /* change li from block level element to inline */
}
nav a:link, nav a:visited {
    color: black;
    text-decoration: none; /*remove default underlines from links*/
    padding: 2px 6px;
    margin: 0 3px;
    font-size: 1em;
    font-weight: 600;
}
nav a:hover {	
  text-decoration: underline;
  color: brown;
	}
